venv/
__pycache__/
*.pyc
*.wav
*.pkl
frontend_backup/

env/
*.pyo
*.pyd
*.log

# SQLite DB (important – never push user data)
*.db
*.sqlite3

Backend/instance/
Backend/temp_uploads/
Backend/pretrained_model/

# Temp uploads / audio files
temp_uploads/
*.wav
*.mp3
*.webm
*.m4a

# Model / embeddings / heavy files
*.pkl
*.pt
*.pth
*.h5
*.ckpt

pretrained_model/

instance/

.ipynb_checkpoints/
*.ipynb
*.out
*.err
*.cache


build/

# Backup folders
frontend_backup/

.DS_Store
Thumbs.db

.vscode/
.idea/

.env
.env.*